{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Movie Reviews{% endblock %}</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/movies/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/movies/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/watchList/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/reviews/style.css' %}">
    <link rel="stylesheet" href="{% static 'fotawesome/css/all.css' %}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="nav-container">
            <a href="{% url 'movies:movie_list' %}" class="logo">
                <i class="fas fa-film"></i> CineRate
            </a>

            <div class="nav-links">
                <a href="{% url 'movies:movie_list' %}" class="nav-link {% if request.resolver_match.url_name == 'movie_list' %}active{% endif %}">
                    <i class="fas fa-film"></i> Movies
                </a>
                
                <a href="{% url 'watchList:watchlist_view' %}" class="nav-link {% if request.resolver_match.app_name == 'watchList' %}active{% endif %}">
                    <i class="fas fa-heart"></i> WatchList
                </a>

            </div>
            <div/>
        </div>
    </nav>

    <div class="main-container">
        {% block content %}{% endblock %}
    </div>

    <script src="{% static 'js/movies/main.js' %}"></script>
</body>
</html>